

.App-header {
  background-color: #096e00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
  color: white;
  height: 8vh;
}

.modalcontainer {
  width: 10vw;
}

.map {
  margin: 3vh auto;
  width: 90%;
  max-width: 500px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.grid {
  margin: 3vh auto;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gridrow {
  display: flex;
  flex-direction: row;
}

.modal {
  position:absolute;
  background-color: white;
  width: 80%;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  top: 30%;
  margin: 0 10%;
  padding: 20px;
}

.successmessage {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.keyboard {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboardrow {
  display: flex;
  flex-direction: row;
}

.keyboardletter {
  margin: 4px;
  padding: 20px 15px;
  font-family: monospace;
  font-size: 20px;
  border: none;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .keyboardletter {
    margin: 3px;
    padding: 10px 8px;
    font-size: 20px;
  }

}
