.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.modalcontainer {
  margin: 30px;
}

.grid {
  margin: 5vh auto;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gridrow {
  display: flex;
  flex-direction: row;
}

.modal {
  position:absolute;
  background-color: white;
  width: 30%;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  top: 30%;
  left: 35%;
  padding: 20px;
}

.successmessage {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.keyboard {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboardrow {
  display: flex;
  flex-direction: row;
}

.keyboardletter {
  margin: 4px;
  padding: 20px 15px;
  font-family: monospace;
  font-size: 20px;
  border: none;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  cursor: pointer;
}
