.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  margin: 20vh auto;

  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gridrow {
  display: flex;
  flex-direction: row;
}

.modal {
  position:absolute;
  background-color: white;
  width: 400px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}
