.tile {
    width: 6vh;
    height: 6vh;
    max-width: 60px;
    max-height: 60px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter {
    font-size: 38px;
    font-weight: 600;
    position: relative;
    bottom: 2px;
}